# See https://phpstan.org/config-reference
parameters:
    level: max

    paths:
        - src
        - tests

    typeAliases:
        HeadersArray: 'array<string,string>'
        RequestParameters: 'array<string,string>|string'
