# See https://phpstan.org/config-reference
parameters:
    level: max

    paths:
        - src
        - tests

    typeAliases:
        Headers: 'array<string,string>'
        RequestParameters: 'array<string,string>'
        CurlPostFields: 'RequestParameters|string|null'
        CurlOptions: 'array<int,mixed>'
